<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>


<div class="container">
  <div class="row">
    <% @restaurants.each do |restaurant| %>
    <div class="col-md-3">
      <h3><%= restaurant.title %></h3> <br>
      <%=  link_to (image_tag restaurant.picture.thumb.url), restaurant %> <br>
      <%= restaurant.description %> <br>
      <%= link_to 'Edit', edit_restaurant_path(restaurant), class: 'btn btn-default' %>
      <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %> <br>
    </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Restaurant', new_restaurant_path, class: 'btn btn-default' %>
