<!DOCTYPE html>
<html>
  <head>
    <title>Nambafood</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="raw">
      <div class="col-md-9">  <%= yield %> </div>
      <div class="col-md-3">
        <h4><%= link_to 'Cart', items_path %></h4>
        <ol>
          <% items.each do |item| %>
          <li>
            Title:<%= item.title %> <br>
            Amount:<%= item.amount %><br>

          </li>
        <% end %>
        </ol>
      </div>
    </div>

  </body>
</html>
